body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.father {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 5;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: seagreen;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: sienna;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    grid-column-start: 1;
    grid-column-end: 5;
}
